# SPDX-FileCopyrightText: 2022-2024 OpenATBP Contributors
# SPDX-License-Identifier: MIT

# Node Modules
node_modules

gamedata.json

# Exclude game assets in static, while including files needed to render webpage
static/*
!static/css/
!static/css/*
!static/fonts/
!static/fonts/*
!static/js/
!static/js/*
!static/favicon.ico
!static/favicon.ico.license
!static/img/
!static/img/*
