# Database MongoDB URI.
# String
mongoURI=mongodb://admin:password@127.0.0.1:27017

# ExonautServer HTTP URI.
# String
httpURI=http://127.0.0.1:80

# Scale the room graphical debug window and graphics by this factor.
# Disables room graphical debug if set to 0 or less.
# Float
debugGFXScale=1

# Whether to throw runtime exceptions for invalid user input.
# If false, invalid user input is silently ignored.
# Boolean
inputDebug=true

# Number of non-tutorial maps.
# When making custom map definitions, set the first multiplayer map to world_1,
# then set the rest of the multiplayer maps to be contiguous world_n thereafter.
# Integer, 9 in vanilla.
mapCount=9

# The percentages to add (headshot, damage boosts) or subtract (armor boosts) from
# damage taken. Damage boost is considered upon projectile spawn.
# Float
! Is this right? Description of bradido's Princess Bubblegum video:
! "Her Marksman fires 1 high-damage shot so if you critical hit light exosuits you can
! hack them in one shot."
! Her Marksman does 100 damage, lights have ca. 125 armor, mediums have ca. 150; puts
! it between 0.25 and 0.5.
headshotMod=0.25
! This value (0.2 multiplier) was taken from essentially dead client code. Is this right?
boostDamageMod=0.2
boostTeamDamageMod=0.2
boostArmorMod=0.2
boostTeamArmorMod=0.2

# How many hacks to allow a player to get in free-for-all.
# Integer, 20 in vanilla
maxHacksSolo=20

# How many hacks to allow a team to get in a team match.
# Integer, 40 in vanilla
maxHacksTeam=40

# How many seconds to allow a free-for-all match to run for.
# Integer, 600 in vanilla
soloTime=600

# How many seconds to allow a team match to run for.
# Integer, 900 in vanilla
teamTime=900

# How many seconds to wait between meeting minimum player count and spawning players.
# The nth element (0-indexed) is used for n players in the room. -1 means do not start.
# String of semicolon-separated floats, "-1;-1;-1;-1;-1;20;20;20;20" in vanilla
queueWait=-1;-1;-1;-1;-1;20;20;20;20

# How many credits and XP to award any player present at the end.
# Integer, 5 in vanilla
creditsParticipation=5

# How many credits and XP to award a player for each hack.
# Integer, 5 in vanilla
creditsPerHack=5

# How many credits and XP to award a player for winning a match:
# - Solo: Most hacks.
# - Team: Being on the team with the most hacks.
# Integer, 10 in vanilla
creditsWin=10
