mongoURI=mongodb://admin:password@127.0.0.1:27017
httpURI=http://127.0.0.1:80
debugGFX=true
debugGFXScale=1
mapCount=9

headshotMod=0.25
boostDamageMod=0.2
boostTeamDamageMod=0.2
boostArmorMod=0.2
boostTeamArmorMod=0.2

soloTime=600
teamTime=900
queueWait=10
minPlayers=2

creditsParticipation=5
creditsPerHack=5
creditsWin=10
