<!-- SPDX-FileCopyrightText: 2022-2024 OpenATBP Contributors, 2024-2026 OpenExonaut Contributors -->
<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>OpenExonaut</title>

    <script type="text/javascript" src="js/UnityProgress.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script defer type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/exonaut-client.js"></script>

    <style>
      body {
        overflow: hidden;
      }
      #sidebar {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        width: 250px;
        padding: 15px;
        padding-top: 56px;
        transform: translateX(100%);
      }
      #sidebar.show {
        transform: translateX(0);
      }
      #content {
        margin-right: 0;
      }
      #bottom-links {
        position: fixed;
        width: 88%;
        bottom: 8px;
      }
    </style>
  </head>
  <body onresize="OnResize();">
    <!-- Script include is needed both here and in <head> for it to work on Electron *shrug* -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script defer type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <div id="sidebar">
      <div class="list-group" id="bottom-links">
        <button type="button" class="list-group-item" onclick="location.href='/'">Refresh</button>
        <button type="button" class="list-group-item" onclick="location.href='https://discord.com/invite/ze3VczKHfZ'">Discord Chat</button>
        <button type="button" class="list-group-item" onclick="location.href='https://github.com/OpenExonaut/OpenExonaut/issues'">Github Issues</button>
        <button type="button" class="list-group-item" id="login-button" onclick="location.href='/login'">Log In</button>
        <button type="button" class="list-group-item" id="logout-button" onclick="logOut();">Log Out</button>
      </div>
    </div>
    <div id="content">
      <nav class="navbar navbar-light d-flex justify-content-between">
        <a class="navbar-brand" href="#">OpenExonaut</a>
        <section class="navbar-right">
          <span class="navbar-text px-2" id="username-text">Not logged in</span>
          <button class="navbar-toggler" type="button" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
        </section>
      </nav>

      <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="900px"></canvas>
    </div>
    <script type='text/javascript'>
      $(document).ready(function () {
        $('#content').on('animationend', OnResize);
        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('show');
          if ($('#sidebar').hasClass('show')) {
            $('#content').css('margin-right', '250px');
          } else {
            $('#content').css('margin-right', '0');
          }
          OnResize();
        });
      });

      var Module = {
        TOTAL_MEMORY: 536870912,
        errorhandler: null, // arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
        compatibilitycheck: null,
        dataUrl: "Development/dev.data",
        codeUrl: "Development/dev.js",
        memUrl: "Development/dev.mem",
      };
    </script>
    <script type='text/javascript' src="Development/UnityLoader.js"></script>
  </body>
</html>
